body {
    background-image: linear-gradient(to bottom, #ffffff, #cccccc);
    background-repeat: no-repeat;
    color: #000000;
}

#style {
    background-color: #336633;
    margin-bottom: 0;
}

h1 {
  color: #ffffcc;  
}

h2 {
    color: #3399ff;
}

.style {
    background-color: #000000;
    color: #cccccc;
}