header {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-image: linear-gradient(to bottom, #ffffff, #66ccff);
    background-repeat: no-repeat;
    color: #000000;
    font-family: Georgia, "Times New Roman", serif;
}

#style {
    margin-left: 0;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    background-color: #666666;
    margin-bottom: 0;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    color: #ff9900;  
    background-image: url(images/overwatch_logo.png-c200);
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 5%;
}

h2 {
    color: #666666;
    text-shadow: 1px 1px 1px #000000;
}

.style {
    background-color: #666666;
    color: #ff9900;
}

footer {
    font-style: italic;
    font-size: 75%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

main ul {
    list-style-type: circle;
}

nav {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

nav a {
    color: #3399ff;
}

main p {
    padding-left: 40px;
    padding-right: 40px;
    text-indent: 20px;
}