body {
    background-color: #66ccff;
    color: #ffffff;
}

#style {
    background-color: #006699;
    margin-bottom: 0;
}

h1 {
  color: #ffffcc;  
}

h2 {
    color: #ffffff;
}

.style {
    background-color: #000000;
}